* {
    box-sizing: border-box;
}

html {
    max-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    overflow: auto;
}

body::before {
    content: ' ';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-image: url("images/background/BgPon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.wrapper{
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: 2em;
    user-select: none;
    background: linear-gradient(110deg, black 50%, rgb(45, 219, 219) 0%);
    height:30em;
    width: 56em;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, .15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imageHover{
    z-index: 3;
    position: absolute;
    height: 30em;
    width: 33.35em;
    translate: 22.5em;

    &.imageHover .ponyo{
        position: relative;
        height: 30em;
        width: 27.85em;
        translate: 5.6em;
        display: block;
    }
}

.synopsis{
    position: absolute;
    background: linear-gradient(110deg, rgba(0, 0, 0, 0) 24.5%, rgba(102, 91, 91, 0.3) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    translate:0em -31em;
    transition: .3s ease-out;
    height: 30em;
    width: 33.5em;
    color: white;
    padding-left: 8em;

    &:hover{
        opacity: 1;

    }
}


.secBg{
    height: 30em;
    width: 56em;
    opacity: .5;
    position: relative;
}

.nav-bar{
    z-index: 4;
    display: flex;
    justify-content: space-evenly;
    width: 20em;
    color: antiquewhite;
    transform:translateY(-29em);
    
    &.nav-bar > a{
        text-decoration: none;
        color: whitesmoke;
        font-weight: 450;
        font-size: 15px;
        cursor: pointer;

        &:hover{
            color: red;
            transition: color .3s;
        }
    }

}

.LoginPop{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform:translate(-50%, -50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, .15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 3;
}

.LoginPop.active{
    top: 50%;
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 12px;
    border-radius: 15px;
    cursor: pointer;

    &:hover{
        background-color: black;
    }
}
.form > h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.form .form-element{
    margin: 15px 0px;
}

.form-element > label{
    font-size: 14px;
    color: #222; 
}

.form-element > input[type="text"],
.form-element > input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;    
}

.form-element > span{
    cursor: pointer;
    color: black;
    position:absolute;
    translate: 18.5em -2.5em;
    height: .8em;
    display: flex;
    align-items: center;
}

.form-element > input[type="checkbox"]{
    margin-right: 5px;
}

.form-element > button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background:#222;
    color: #f5f5f5;
    border-radius:10px;
    cursor: pointer;
}

.form-element > a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

.bodyText{
    position: absolute;
    translate: 5em -22em;
    color: white;
    height: 10em;
    width: 20em;
    
    &.bodyText > .title{
        translate: 0em -1em;
        font-size: 6em;
    }

    &.bodyText > p{
        translate: 0.15em -1.5em;
    }
}

.videoBtn{
    position: absolute;
    translate: 5.4em -8em;

    &.videoBtn .btn{
        font-size: 13px;
        border-radius: .3em;
        width: 9.5em;
        background-color: rgb(228, 228, 228);
        padding: 5px;
        font-weight: 450;
        cursor: pointer;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        transition: .3s;

        &:hover{
            background-color: red;
            color: white;
        }
    }
}
.videos{
    height:30em;
    width:56em;
    translate: 0em -32.4em;
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, .15);
    transition: opacity .3s;
}

.videos > video{
    height:31.5em;
    width: 56em;
}
.movieList {
    position: relative;
    height: 30em;
    width: 56em;
    background:rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: flex-end;
    scrollbar-color: green;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/movieList_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1;
        box-shadow: 2px 2px 5px 5px rgba(0,0,0, .15);
    }

    &.movieList > h1{
        color: wheat;
        padding-left: .7em;
    }
}

.carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    gap: 1em;
    padding: 1rem;
}

.carousel > img{
    border-radius: 1em;
    inline-size: 100%;
    object-fit: cover;
    display: grid;
    grid-template-rows: min-content;
    cursor: pointer;

}

.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
    scroll-snap-align: start;
    scroll-padding-inline: 2rem, 1rem;
}

.aboutUs{
    position: relative;
    color: rgb(221, 207, 181);
    height: 30em;
    width: 56em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding-right: 1em;
    background:rgba(0, 0, 0, 0.6);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1.3em;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/aboutUs_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1;
        box-shadow: 2px 2px 5px 5px rgba(0,0,0, .15);  
    }
}

.aboutUs-content{
    width: 30em;
    flex-direction: column;
    order: 1;
}

.aboutUs-content > h1{
    color: gold;
    border-bottom: 1px dashed white;
}

.sgLogo{
    height: 22em;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}

footer{
    color: rgb(221, 207, 181);
    background-color: rgb(31, 44, 31);
    display: flex;
    font-size: .6em;
    justify-content: space-evenly;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em ;
}

th{
    padding-top: 1em;
}

th, td{
    padding-left: 2em;
}

td:hover{
    color:burlywood;
}

.credit{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}